/**
 * IM8 typestyles.
 *
 * To use it : @include typeset(heading-1);.
 *
 * Parameters in order (for shorthand) :
 * font-size, line-height, weight, style, case, letter-spacing.
 */
/**
 * Custom min width media queries.
 *
 * @TODO
 * Same breakoints as in js.
 */
/*@include add-breakpoint(xxxs, (320px, 'no-query' true));
@include add-breakpoint(xxs,  (444px, 'no-query' true));
@include add-breakpoint(xs,   (555px, 'no-query' true));
@include add-breakpoint(s,    (768px, 'no-query' true));
@include add-breakpoint(m,    (1024px, 'no-query' true));
@include add-breakpoint(l,    (1280px, 'no-query' true));
@include add-breakpoint(xl,   (1424px, 'no-query' true));
@include add-breakpoint(xxl,  (1624px));
@include add-breakpoint(xxxl, (1824px));*/
/**
 * Custom max width media queries.
 */
/**
 * Custom range media queries.
 */
/**
 * Custom layout.
 */
/**
 * Icon absolute mixin and abstract class.
 */
/**
 * Transitions mixin and abstract class.
 @todo.
 */
/**
 * Special content margin mixin and abstract class.
 */
/*
%custom-fontello {
  @include custom-fontello();
}
*/
/* Swiper list style. */
/*
@mixin swiper-list-btn {
  position: absolute;
  bottom: 100%;
  right: 0;
  overflow: hidden;
  @include margin-bottom(13px);
  @include respond-to(before-m){
    display: none;
  }
  .swiper-link {
    background: none;
    position: static;
    display: inline-block;
    margin: 0;
    float: left;
    color: color(custom-white);
    background: color(custom-second-blue);
    width: 29px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
    opacity: 1;
    &.swiper-button-prev {
      @include margin-right(10px);
    }
    &.swiper-button-disabled {
      color: color(custom-grey-light-1);
      background: color(custom-grey-dark-1);
    }
  }
}

%swiper-list-btn {
  @include swiper-list-btn();
}
*/
/*
// Get the max-height value of a text.
@mixin custom-max-height($number-lines, $font-size, $line-height-ratio : null, $line-height : null) {
  @if ($line-height-ratio) {
    max-height: custom-rem-value($number-lines * $font-size * $line-height-ratio);
  }
  @else if ($line-height) {
    // Not sure.
    max-height: custom-rem-value($number-lines * $line-height);
  }
  @else {
    @if ($line-height-method == ratio) {
      max-height: custom-rem-value($number-lines * $font-size * $base-line-height-ratio);
    } @else {
      // Not sure.
      max-height: custom-rem-value($number-lines * $base-line-height);
    }
  }
  overflow: hidden;
  text-overflow: ellipsis;
}
*/
.form-item {
  margin: 1.5rem 0;
}

.form-item__required,
.form-required {
  color: #c00;
}

.form-item__description,
.form-item .description {
  font-size: 0.875rem;
}

.form-item--inline div,
.form-item--inline label, .container-inline .form-item div, .container-inline .form-item label {
  display: inline;
}

.form-item--inline__exception,
.container-inline .fieldset-wrapper {
  display: block;
}

.form-item--tight,
.form-item--radio,
.form-type-radio,
.form-type-checkbox,
.password-parent,
.confirm-parent,
table .form-item {
  margin: 0;
}

.form-item--radio .form-item__label, .form-item--radio__label, .form-type-radio .form-item__label,
.form-type-checkbox .form-item__label,
label.option {
  display: inline;
  font-weight: normal;
}

.form-item--radio .form-item__description, .form-item--radio__description, .form-type-radio .form-item__description,
.form-type-checkbox .form-item__description,
.form-type-radio .description,
.form-type-checkbox .description,
.form-item--radio .form-item .description,
.form-item .form-item--radio .description,
.form-type-radio .form-item .description,
.form-item .form-type-radio .description,
.form-type-checkbox .form-item .description,
.form-item
.form-type-checkbox .description {
  margin-left: 1.4em;
}

.form-item.is-error .form-item__widget, .form-item--is-error__widget,
.form-item.is-error input,
.form-item.is-error textarea,
.form-item.is-error select,
.form-item--is-error input,
.form-item--is-error textarea,
.form-item--is-error select,
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c00;
}
