/**
 * IM8 typestyles.
 *
 * To use it : @include typeset(heading-1);.
 *
 * Parameters in order (for shorthand) :
 * font-size, line-height, weight, style, case, letter-spacing.
 */
/**
 * Custom min width media queries.
 *
 * @TODO
 * Same breakoints as in js.
 */
/**
 * Custom max width media queries.
 */
/**
 * Custom range media queries.
 */
/**
 * Custom layout.
 */
/**
 * Icon absolute mixin and abstract class.
 */
/**
 * Transitions mixin and abstract class.
 @todo.
 */
/**
 * Special content margin mixin and abstract class.
 */
/*
%custom-fontello {
  @include custom-fontello();
}
*/
/* Swiper list style. */
/*
@mixin swiper-list-btn {
  position: absolute;
  bottom: 100%;
  right: 0;
  overflow: hidden;
  @include margin-bottom(13px);
  @include respond-to(before-m){
    display: none;
  }
  .swiper-link {
    background: none;
    position: static;
    display: inline-block;
    margin: 0;
    float: left;
    color: color(custom-white);
    background: color(custom-second-blue);
    width: 29px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
    opacity: 1;
    &.swiper-button-prev {
      @include margin-right(10px);
    }
    &.swiper-button-disabled {
      color: color(custom-grey-light-1);
      background: color(custom-grey-dark-1);
    }
  }
}

%swiper-list-btn {
  @include swiper-list-btn();
}
*/
/*
// Get the max-height value of a text.
@mixin custom-max-height($number-lines, $font-size, $line-height-ratio : null, $line-height : null) {
  @if ($line-height-ratio) {
    max-height: custom-rem-value($number-lines * $font-size * $line-height-ratio);
  }
  @else if ($line-height) {
    // Not sure.
    max-height: custom-rem-value($number-lines * $line-height);
  }
  @else {
    @if ($line-height-method == ratio) {
      max-height: custom-rem-value($number-lines * $font-size * $base-line-height-ratio);
    } @else {
      // Not sure.
      max-height: custom-rem-value($number-lines * $base-line-height);
    }
  }
  overflow: hidden;
  text-overflow: ellipsis;
}
*/
.layout-3col {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 0;
  padding-right: 0;
}

.layout-3col:before {
  content: "";
  display: table;
}

.layout-3col:after {
  content: "";
  display: table;
  clear: both;
}

.layout-3col__full, .layout-3col__left-content, .layout-3col__right-content, .layout-3col__left-sidebar, .layout-3col__right-sidebar, .layout-3col__first-left-sidebar, .layout-3col__second-left-sidebar, .layout-3col__col-1, .layout-3col__col-2, .layout-3col__col-3, .layout-3col__col-4, .layout-3col__col-x {
  clear: both;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
}

[dir="rtl"] .layout-3col__full, [dir="rtl"] .layout-3col__left-content, [dir="rtl"] .layout-3col__right-content, [dir="rtl"] .layout-3col__left-sidebar, [dir="rtl"] .layout-3col__right-sidebar, [dir="rtl"] .layout-3col__first-left-sidebar, [dir="rtl"] .layout-3col__second-left-sidebar, [dir="rtl"] .layout-3col__col-1, [dir="rtl"] .layout-3col__col-2, [dir="rtl"] .layout-3col__col-3, [dir="rtl"] .layout-3col__col-4, [dir="rtl"] .layout-3col__col-x {
  float: right;
  margin-right: 0%;
  margin-left: -100%;
}

@media (min-width: 1024px) {
  .layout-3col {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 0;
    padding-right: 0;
  }
  .layout-3col:before {
    content: "";
    display: table;
  }
  .layout-3col:after {
    content: "";
    display: table;
    clear: both;
  }
  .layout-3col__full, .layout-3col__left-content, .layout-3col__right-content, .layout-3col__left-sidebar, .layout-3col__right-sidebar {
    float: left;
    width: 16.66667%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .layout-3col__full, [dir="rtl"] .layout-3col__left-content, [dir="rtl"] .layout-3col__right-content, [dir="rtl"] .layout-3col__left-sidebar, [dir="rtl"] .layout-3col__right-sidebar {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  .layout-3col__first-left-sidebar, .layout-3col__col-1, .layout-3col__col-3, .layout-3col__col-x:nth-child(2n + 1) {
    float: left;
    width: 8.33333%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .layout-3col__first-left-sidebar, [dir="rtl"] .layout-3col__col-1, [dir="rtl"] .layout-3col__col-3, [dir="rtl"] .layout-3col__col-x:nth-child(2n + 1) {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  .layout-3col__second-left-sidebar, .layout-3col__col-2, .layout-3col__col-4, .layout-3col__col-x:nth-child(2n) {
    clear: none;
    float: left;
    width: 8.33333%;
    margin-left: 8.33333%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .layout-3col__second-left-sidebar, [dir="rtl"] .layout-3col__col-2, [dir="rtl"] .layout-3col__col-4, [dir="rtl"] .layout-3col__col-x:nth-child(2n) {
    float: right;
    margin-right: 8.33333%;
    margin-left: -100%;
  }
}

@media (min-width: 1424px) {
  .layout-3col__full {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -100%;
  }
  [dir="rtl"] .layout-3col__full {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  .layout-3col__left-content {
    float: left;
    width: 16.66667%;
    margin-left: 0%;
    margin-right: -100%;
  }
  [dir="rtl"] .layout-3col__left-content {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  .layout-3col__right-content {
    float: left;
    width: 16.66667%;
    margin-left: 8.33333%;
    margin-right: -100%;
  }
  [dir="rtl"] .layout-3col__right-content {
    float: right;
    margin-right: 8.33333%;
    margin-left: -100%;
  }
  .layout-3col__left-sidebar, .layout-3col__first-left-sidebar, .layout-3col__second-left-sidebar {
    clear: right;
    float: right;
    width: 8.33333%;
    margin-right: 16.66667%;
    margin-left: -100%;
  }
  [dir="rtl"] .layout-3col__left-sidebar, [dir="rtl"] .layout-3col__first-left-sidebar, [dir="rtl"] .layout-3col__second-left-sidebar {
    clear: left;
  }
  [dir="rtl"] .layout-3col__left-sidebar, [dir="rtl"] .layout-3col__first-left-sidebar, [dir="rtl"] .layout-3col__second-left-sidebar {
    float: left;
    margin-left: 16.66667%;
    margin-right: -100%;
  }
  .layout-3col__right-sidebar {
    clear: right;
    float: right;
    width: 8.33333%;
    margin-right: 0%;
    margin-left: -100%;
  }
  [dir="rtl"] .layout-3col__right-sidebar {
    clear: left;
  }
  [dir="rtl"] .layout-3col__right-sidebar {
    float: left;
    margin-left: 0%;
    margin-right: -100%;
  }
  .layout-3col__col-1, .layout-3col__col-x:nth-child(3n+1) {
    clear: both;
    float: left;
    width: 8.33333%;
    margin-left: 0%;
    margin-right: -100%;
  }
  [dir="rtl"] .layout-3col__col-1, [dir="rtl"] .layout-3col__col-x:nth-child(3n+1) {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  .layout-3col__col-2, .layout-3col__col-x:nth-child(3n+2) {
    clear: none;
    float: left;
    width: 8.33333%;
    margin-left: 8.33333%;
    margin-right: -100%;
  }
  [dir="rtl"] .layout-3col__col-2, [dir="rtl"] .layout-3col__col-x:nth-child(3n+2) {
    float: right;
    margin-right: 8.33333%;
    margin-left: -100%;
  }
  .layout-3col__col-3, .layout-3col__col-x:nth-child(3n) {
    clear: none;
    float: left;
    width: 8.33333%;
    margin-left: 16.66667%;
    margin-right: -100%;
  }
  [dir="rtl"] .layout-3col__col-3, [dir="rtl"] .layout-3col__col-x:nth-child(3n) {
    float: right;
    margin-right: 16.66667%;
    margin-left: -100%;
  }
  .layout-3col__col-4 {
    display: none;
  }
}

.layout-3col__grid-item-container {
  padding-left: 0;
  padding-right: 0;
}

.layout-3col__grid-item-container:before {
  content: "";
  display: table;
}

.layout-3col__grid-item-container:after {
  content: "";
  display: table;
  clear: both;
}

.layout-center {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1180px;
}

@media (min-width: 1024px) {
  .layout-center {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1250.8px) {
  .layout-center {
    margin-left: 3%;
    margin-right: 3%;
  }
}

.layout-center--shared-grid,
.layout-center.layout-3col {
  padding-left: 0;
  padding-right: 0;
}

.layout-swap {
  position: relative;
}

@media (min-width: 555px) {
  .layout-swap {
    padding-top: 48px;
  }
}

@media (min-width: 555px) {
  .layout-swap__top {
    position: absolute;
    top: 0;
    height: 48px;
    width: 100%;
  }
}

.custom-above-below {
  position: relative;
  z-index: 1;
  min-height: 100%;
  width: 100%;
}

.custom-above-below__above {
  position: relative;
  z-index: 2;
}

.custom-above-below__below {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=layouts.css.map */
