<div class="container-fluid {{modifier_class}}">
    <div class="row">
        <div class="col__full">
            The <code>.col__full</code> grid item.
        </div>
    </div>

    <div class="row">
        <div class="col__full">
            The <code>.col__full</code> grid item.
        </div>
        <div class="col__left-content">
            The <code>.col__left-content</code> grid item.
        </div>
        <div class="col__right-sidebar">
            The <code>.col__right-sidebar</code> grid item.
        </div>
        <div class="col__right-content">
            The <code>.col__right-content</code> grid item.
        </div>
        <div class="col__left-sidebar">
            The <code>.col__left-sidebar</code> grid item.
        </div>
        <div class="col__right-content">
            The <code>.col__right-content</code> grid item.
        </div>
        <div class="col__first-left-sidebar">
            The <code>.col__first-left-sidebar</code> grid item.
        </div>
        <div class="col__second-left-sidebar">
            The <code>.col__second-left-sidebar</code> grid item.
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            The <code>.col-md-1</code> grid item.
        </div>
        <div class="col-md-11">
            The <code>.col-md-11</code> grid item.
        </div>

        <div class="col-md-2">
            The <code>.col-md-2</code> grid item.
        </div>
        <div class="col-md-10">
            The <code>.col-md-10</code> grid item.
        </div>

        <div class="col-md-3">
            The <code>.col-md-3</code> grid item. Don't forget to look for the <code>.col-md-4</code> grid item at tablet sizes.
        </div>
        <div class="col-md-9">
            The <code>.col-md-9</code> grid item.
        </div>

        <div class="col-md-4">
            The <code>.col-md-4</code> grid item.
        </div>
        <div class="col-md-8">
            The <code>.col-md-8</code> grid item.
        </div>
        <div class="col-md-5">
            The <code>.col-md-5</code> grid item.
        </div>
        <div class="col-md-7">
            The <code>.col-md-7</code> grid item.
        </div>

        <div class="col-md-6">
            The <code>.col-md-6</code> grid item.
        </div>
        <div class="col-md-6">
            The <code>.col-md-6</code> grid item.
        </div>

        <div class="col-md-12">
            The <code>.col-md-12</code> grid item.
        </div>
    </div>
    <div class="layout-12col__full layout-12col__grid-item-container">
        <div class="layout-12col__col-x">
            The first <code>.layout-12col__col-x</code> grid item in this nested grid.
        </div>
        <div class="layout-12col__col-x">
            The second <code>.layout-12col__col-x</code> grid item in this nested grid.
        </div>
        <div class="layout-12col__col-x">
            The third <code>.layout-12col__col-x</code> grid item in this nested grid.
        </div>
        <div class="layout-12col__col-x">
            The fourth <code>.layout-12col__col-x</code> grid item in this nested grid.
        </div>
        <div class="layout-12col__col-x">
            The fifth <code>.layout-12col__col-x</code> grid item in this nested grid.
        </div>
        <div class="layout-12col__col-x">
            The sixth <code>.layout-12col__col-x</code> grid item in this nested grid.
        </div>
    </div>
</div>
