<header class="homepage-header{% if background_image %} custom-above-below{% endif %} clearfix">
  <div class="homepage-header__infos{% if background_image %} custom-above-below__above{% endif %}">
    <div class="container">
    {% if main_title %}
      <h1 class="homepage-header__infos__title">{{ main_title }}</h1>
    {% endif %}
    {% if subtitle %}
      <h2 class="homepage-header__infos__subtitle">{{ subtitle }}</h2>
    {% endif %}
    {% if cta %}
      <div class="homepage-header__infos__cta">{{ cta }}</div>
    {% endif %}
    </div>
  </div>
  {% if background_image %}
    <div class="homepage-header__background custom-above-below__below">
      <img src="{{ background_image }}" width="1900" height="688">
    </div>
  {% endif %}
</header>