<div class="container">
    <div class="row">
        {% if contact_text %}
            <div class="col-m-6">{{ contact_text }}</div>
        {% endif %}
        {% if contact_form %}
            <div class="col-m-6">{{ contact_form }}</div>
        {% endif %}
    </div>
</div>